.litags-tags {
  grid-area: litags;
}

.litags-addtag-button-wrap {
  grid-area: libtn;
}

.ruser {
  display: grid !important;
  grid-template-rows: auto;
  grid-template-columns: auto auto auto 1fr min-content;
  grid-template-areas:
          'lio liuser libtn . lirating lichange'
          '. litags litags litags litags litags';
  a {
    grid-area: liuser;
  }
  i {
    grid-area: lio;
  }
  rating {
    grid-area: lirating;
  }
  good, bad {
    grid-area: lichange;
  }
}
