.litags-tags {
  grid-area: litags;
}

.litags-addtag-button {
  grid-area: libtn;
}

.ruser i {
  grid-area: lio;
}

.ruser a {
  grid-area: liuser;
}

.ruser .rating {
  grid-area: lirating;
}

.ruser > good, bad {
  grid-area: lichange;
}

.ruser {
  display: grid !important;
  grid-template-rows: auto;
  grid-template-columns: auto auto 1fr auto min-content;
  grid-template-areas:
          'lio liuser libtn lirating lichange'
          '. litags litags litags litags';

}
