.litags-tags {
  margin-top: 0.25em;
  margin-bottom: 0.3em;
}

.litags-addtag-button-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5em;

  .litags-addtag-button {
    font-family: lichess, serif;
    border: 0;
    outline: none;
    background-color: inherit;
    filter: brightness(90%);
  }
  .litags-addtag-button:hover {
    transform: scale(1.2);
    filter: brightness(100%);
  }
}

#litags-tag-list {
  list-style-type: none;
  user-select: none;
  font-family: lichess, serif;
  font-size: 1em;
  color: yellowgreen;

  li {
    display: inline;
    margin-right: 0.6em;
    cursor: pointer;
  }
}

// TAGTIP Section

.litags-tagtip-title {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.litags-tagtip-list {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 10rem;
  margin-left: 0.5em;
}

#litags-tagtip-freq-used, #litags-tagtip-all {
  display: grid;
  grid-template-columns: repeat(8, auto);
  margin-left: 0.5em;
}

#litags-tagtip {
  display: none;
  position: absolute;
  z-index: 120;
  border-radius: 3px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  overflow: hidden;
  background: inherit;
}

