.litags-tags {
  margin-top: 0.25em;
  margin-bottom: 0.3em;
}

.litags-addtag-button-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5em;

  .litags-addtag-button {
    font-family: lichess, serif;
    border: 0;
    outline: none;
    background-color: inherit;
    filter: brightness(90%);

    &:hover {
      transform: scale(1.2);
      filter: brightness(100%);
    }
  }
}

#litags-tag-list {
  list-style-type: none;
  user-select: none;
  font-family: lichess, serif;
  font-size: 1em;
  color: yellowgreen;

  li {
    display: inline;
    margin-right: 0.6em;
    cursor: pointer;
  }
}

// TAGTIP Section

.litags-tagtip-title {
  font-weight: 500;
  font-size: 1.2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid;
}

.litags-tagtip-list {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 12rem;
}

.litags-tagtip-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background-color: #3692e7;
    border-radius: 3px;
  }

  span {
    font-family: lichess, serif;
    font-size: 1.8em;
    margin: 0.2em;
    filter: brightness(90%);

    &:hover {
      transform: scale(1.2);
      filter: brightness(100%);
    }
  }

}

#litags-tagtip-freq-used-wrap, #litags-tagtip-all-wrap {
  margin-left: 0.6em;
  margin-right: 0.6em;
}

#litags-tagtip-freq-used, #litags-tagtip-all {
  display: grid;
  grid-template-columns: repeat(8, auto);
}

#litags-tagtip {
  display: none;
  opacity: 1;
  position: absolute;
  z-index: 120;
  border-radius: 3px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  overflow: hidden;
  background: inherit;
  cursor: default;
}

