@import "../../common/common";

.lt-list {
  margin-top: 0.25rem;
  list-style: none;
  user-select: none;
  z-index: $zIndex;

  ul {
    display: inline-block;
    list-style: none;
  }

  li {
    display: inline-block;
    list-style: none;
    margin-right: .4rem;
    cursor: pointer;
  }

  .lt-list-remove-zone {
    display: inline-block;

    justify-content: center;
    align-content: center;

    z-index: $zIndex + 2;
    
    margin-left: 1rem;
    
    font-family: "lichess", serif;
    font-size: $tagSize;
    font-weight: bold;
    
    color: $c-red;
  }
}

.lt-list-helper {
  list-style: none;
  margin: 0;
  padding: 0;
}
