@import "../../common/common";

.lt-list {
  margin-top: 0.25rem;
  list-style: none;
  user-select: none;
  z-index: $zIndex;
  vertical-align: middle;
  
  ul {
    display: inline-block;
    list-style: none;
  }

  li {
    display: inline-block;
    list-style: none;
    margin-right: 0.4rem;
    cursor: pointer;
  }

  .lt-list-remove-zone {
    display: inline-block;

    justify-content: center;
    align-content: center;

    z-index: $zIndex + 2;

    margin-left: 1rem;

    color: $c-red;

    &:before {
      font-size: $tagSize !important;
      opacity: 1 !important;
      vertical-align: baseline !important;
    }
  }
}

.lt-list-helper {
  list-style: none;
  margin: 0;
  padding: 0;
}
