@import "../../util/constants";

.lt-list {
  margin-top: 0.25em;
  list-style-type: none;
  user-select: none;
  z-index: $zIndex;

  ul {
    display: inline-block;
  }

  li {
    display: inline-block;
    margin-right: .4em;
    cursor: pointer;
  }

  .lt-list-remove-zone {
    z-index: $zIndex + 2;
    display: inline-block;
    margin-left: 1em;
    justify-content: center;
    align-content: center;
    font-family: lichess, serif;
    font-size: 1.6em;
    font-weight: bold;
    color: red;
  }
}
