@import "../../common/common";

// Tag Chooser defaults (emulating lichess light theme)
// final colors are determined dynamically depending on user chosen lichess theme
$c-bg-primary: hsl(0, 0%, 100%);
$c-bg-secondary: hsl(37, 12%, 96.5%);
$c-border: hsl(0, 0%, 85%);

$border-width: 1px;
$border-style: solid;
$border: $border-width $border-style $c-border;

$box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
//$text-shadow: 0 1px 0 #fff;

.lt-tag-chooser {
  display: block;
  opacity: 1;
  position: absolute;
  z-index: $zIndex;

  box-shadow: $box-shadow;

  border: $border;
  border-radius: 3px;

  cursor: default;
  overflow: hidden;

  background-color: $c-bg-primary;

  width: 20vw;
  
  .lt-sets {
    overflow-y: scroll;
    overflow-x: hidden;

    max-height: 22vh;

    .lt-set {
      .lt-set-header {
        display: flex;
        align-items: center;

        padding-top: 0.3rem;
        padding-bottom: 0.3rem;

        background-color: $c-bg-secondary;

        border-bottom: $border;

        .lt-set-icon {
          margin-left: 1em;

          img {
            width: 2em;
            height: 2em;
          }
          i {
            font-size: 1.6em;
          }
        }

        .lt-set-title {
          margin-left: auto;
          margin-right: 1rem;

          //text-transform: uppercase;   
        }
      }

      .lt-set-tags {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0.4rem;

        border-bottom: $border;
      }

      // &.favorites > .lt-set-tags,
      // &.search-results > .lt-set-tags {
      //   justify-content: start;
      // }
    }
  }

  .lt-set-search {
    display: flex;
    flex-direction: row;
    padding: .4rem;
    font-size: inherit;

    //background-color: $c-bg-secondary;
    border-top: $border;

    input {
      flex-grow: 1;
      border: 0;
      padding: 0;
      outline: none;
      margin-left: 1em;
      margin-right: .5em;
      background-color: inherit;
      padding: .2em;

      &:focus {
        border-bottom: $border;
      }
    }

    i {
      width: 1.2em;
      height: 1.2em;
      margin-left: .3em;
    }
  }
}
