@import "../../util/colors";
@import "../../util/constants";

.lt-tc {
  display: block;
  opacity: 1;
  position: absolute;
  z-index: $zIndex;
  border-radius: 3px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  cursor: default;
  overflow: hidden;

  .lt-tcg-header {
    display: flex;
    align-content: center;
    padding-top: .2em;
    padding-bottom: .2em;
    font-family: 'Noto Sans', serif;
    font-weight: 500;
    font-size: 1.2em;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: rgb(50, 50, 50);
    background-color: rgb(30, 30, 30);

    .lt-tcg-header-icon {
      display: flex;
      align-content: center;
      justify-content: center;
      margin-left: .4em;
    }

    .lt-tcg-header-title {
      margin-left: auto;
      margin-right: 1em;
    }
  }
}

.lt-tcgs {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 18vh;
  min-width: 20vw;
}

.lt-tcg-tags {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(32px, 2fr));
  grid-auto-flow: dense;
  padding: .4em;
}


.lt-t-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;

  &:focus {
    outline: 1px solid $selected;
    background-color: rgba($selected, 0.2);
  }

  &:hover {
    background-color: $selected;
    border-radius: 3px;
  }
}

.lt-tc-search {
  font-size: 1em;
  width: 100%;
  padding: 0.4em .4em;
}
