@font-face {
  font-family: "lichess";
  src: url("/public/fonts/lichess.woff2") format("woff2");
  font-display: block;
  font-weight: normal;
  font-style: normal;
}

%font-icon {
  display: inline-block;
  font-style: normal;
  border: 0;
}

%lichess-icon {
  @extend %font-icon;
  font-family: lichess, serif;
}

.lt-plus-icon {
  @extend %lichess-icon;
  &:after {
    content: 'O';
  }
}

.lt-star-icon {
  @extend %lichess-icon;
  &:after {
    content: 's';
  }
}

.lt-star-full-icon {
  @extend %lichess-icon;
  &:after {
    content: 't';
  }
}

.lt-search-icon {
  @extend %lichess-icon;
  &:after {
    content: 'y';
  }
}
