@font-face {
  font-family: "lichess";
  src: url("../../fonts/lichess.woff2") format("woff2");
  font-display: block;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: lt-icons;
  src: url("../../fonts/lt-icons.woff") format("woff");
  font-display: block;
  font-weight: normal;
  font-style: normal;
}


.lt-icon-chevron-down,
.lt-icon-chevron-up,
.lt-icon-discord,
.lt-icon-github,
.lt-icon-trash {
  display: inline-block;
  font-family: lt-icons, serif;
  font-style: normal;
  border: 0;
}

.lt-icon-button {
  display: inline-block;
  font-family: lichess, serif;
  font-style: normal;
  border: 0;
}

.lt-icon-button:after {
  content: 'O';
}

.lt-icon-discord:after  {
  content: "\e900";
}

.lt-icon-github:after {
  content: "\eab0";
}

.lt-icon-chevron-up:after {
  content: "\e901";
}

.lt-icon-chevron-down:after {
  content: "\e902";
}

.lt-icon-trash:after {
  content: "\e9ac";
}
