$header-primary: #fff;
$header-secondary: #b9bbbe;
$text-normal: #dcddde;
$text-muted: #72767d;
$text-link: #00b0f4;
$input-outline: #3692e7;
$interactive-normal: #b9bbbe;
$interactive-hover: #dcddde;
$interactive-active: #fff;
$interactive-muted: #4f545c;
$background-primary: #36393f;
$background-secondary: #2f3136;
$background-tertiary: #202225;
$background-accent: #4f545c;
$background-floating: #18191c;
$button-active: #393c42;
$button-hover: #33363c;
