@import 'colors';
@import '../ui/list';

.lt-header-primary {
  color: $header-primary;
  font-size: 1.5em;
}

.lt-header-secondary {
  color: $header-secondary;
  font-size: 1.2em;
}

.lt-content-wrap {
  grid-area: licontent;
  overflow-y: auto;
  overflow-x: hidden;
  display: block;
}

#lt-content {
  display: block;
  margin-left: 4em;
}

.lt-infoText {
  color: $header-secondary;
  font-size: .9em;
}

.lt-content-separator {
  opacity: .5;
  border-bottom: 1px solid;
  border-color: $background-accent;
  margin-top: .8rem;
  margin-bottom: .8rem;
}

.lt-settings-wrap {
  .lt-setting {
    display: flex;
    align-items: center;
  }

  .lt-switch {
    margin-left: auto;
  }
}

.lt-backup-wrap {
  display: flex;
}