@import 'colors';

#lt-modal {
  background-color: rgba(0,0,0,0.4);
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;

  .lt-modal-content {
    background: $background-secondary;
    border: 1x solid $background-tertiary;
    margin: 20% auto;
    width: 50%;

    .lt-modal-no .lt-modal-yes {

    }

    .lt-modal-no {
      background: $button-no;
    }

    .lt-modal-yes {
      background: $button-yes;
    }

    .lt-modal-close {
      float: right;

      &:hover,
      &:focus {
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}