@import 'colors';

.lt-users-remove {
  display: none;
}

#lt-users-table {
  border-collapse: collapse;
  width: 100%;

  tr {
    border-bottom: 1px solid;
    border-color: $separator-color;

    &:hover {
      background-color: $background-secondary;
      border: 2px solid $background-tertiary;
      z-index: 120;

      .lt-users-remove {
        display: block;
        cursor: pointer;
      }
    }
  }

  thead tr {
    border-bottom: 1px solid $separator-color;
    &:hover {
      background-color: $background-primary;
      border-bottom: 1px solid $separator-color;
      border-top: none;
      border-left: none;
      border-right: none;
    }
  }
}

.lt-users-header {
  display: flex;

  .lt-users-search {
    margin-left: auto;
  }
}