@import "ui/button";
@import "ui/list";
@import "ui/popup";
@import "util/font";

.lt-list {
  grid-area: lilist;
}

.lt-button {
  grid-area: libutton;
}

.ruser {
  display: grid !important;
  grid-template-rows: min-content;
  grid-template-columns: auto auto auto 1fr min-content;
  grid-template-areas: 'lio liuser libutton . lirating lichange' '. lilist lilist lilist lilist lilist';

  a {
    grid-area: liuser;
  }

  i {
    grid-area: lio;
  }

  rating {
    grid-area: lirating;
  }

  good, bad {
    grid-area: lichange;
  }
}
