.lt-tc {
  display: block;
  opacity: 1;
  position: absolute;
  z-index: 120;
  border-radius: 3px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  cursor: default;
  overflow: hidden;
}

.lt-tcgs {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 15vh;
  min-width: 20vw;
}

.lt-tcg {
  margin-bottom: .5em;
}

.lt-tcg-title {
  font-weight: 500;
  font-size: 1.2em;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: rgb(50, 50, 50);
  background-color: rgb(30, 30, 30);
}

.lt-tcg-tags {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(32px, 2fr));
  grid-auto-flow: dense;
  padding-top: .5em;
}


.lt-t-button {
  border: none;
  background: none;
}

.lt-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;

  &:hover {
    background-color: #3692e7;
    border-radius: 3px;
  }

  span {
    font-family: lichess, serif;

    //&:hover {
    //  transform: scale(1.2);
    //}
  }
}

.lt-tc-search {
  margin-top: .5em;
  font-size: 1em;
  width: 100%;
  padding: 0.4em .4em;
}