#lt-popup-searchResults-wrap {
  display: none;
}

.lt-popup-search-wrap {
  margin: 0.4em;

  input {
    width: 100%;
    //background-image:url();
    //background-repeat:no-repeat
  }
}

.lt-tc {
  display: block;
  opacity: 1;
  position: absolute;
  z-index: 120;
  border-radius: 3px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  cursor: default;
  padding: .5em;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 12rem;
}

.lt-t-button {
  border: none;
  background: none;
}

.lt-tcg-title {
  font-weight: 500;
  font-size: 1.2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.lt-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.2em;
  font-size: 1.5em;
  filter: brightness(90%);
  transition: transform .2s;

  &:hover {
    filter: brightness(100%);
  }

  span {
    font-family: lichess, serif;
    &:hover {
      transform: scale(1.2);
    }
  }
}

.lt-tcg-tags {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  border-top: 1px solid;
}