.lt-list {
  margin-top: 0.25em;
  list-style-type: none;
  user-select: none;

  ul {
    display: inline-block;
  }

  li {
    display: inline-block;
    margin-right: .4em;
    cursor: pointer;
  }
  .lt-list-remove-zone {
    display: inline-block;
    margin-left: 1em;
    background-color: red;
    width: 1.5em;
    height: 1.5em;
  }
}
