.lt-list {
  margin-top: 0.25em;
  list-style-type: none;
  user-select: none;

  li {
    display: inline-block;
    margin-right: .4em;
    cursor: pointer;
  }
}

.lt-list-trash {
  display: none;
  color: red;
  width: 1fr;
}

.lt-list-hiddenDragGhost {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
}

.lt-list-dragHandle {
  cursor: grabbing;
  opacity: 0;
}
