@import "../common/common";
@import "../components/TagChooser/tagChooser";
@import "../components/TagList/tagList";

.lt-list {
  grid-area: lilist;
}

.lt-button {
  grid-area: libutton;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5em;

  button {
    border: 0;
    outline: none;
    background-color: inherit;
    opacity: 0.75;

    &:hover {
      transform: scale(1.2);
      opacity: 1;
    }
  }
}

.ruser {
  display: grid !important;
  grid-template-rows: min-content;
  grid-template-columns: auto auto auto 1fr min-content;
  grid-template-areas: "lio liuser libutton . lirating lichange" ". lilist lilist lilist lilist lilist";

  a {
    grid-area: liuser;
  }

  i {
    grid-area: lio;
  }

  rating {
    grid-area: lirating;
  }

  good,
  bad {
    grid-area: lichange;
  }
}
