.lt-list-wrap {
  grid-area: litags;
}

.lt-button-addTag-wrap {
  grid-area: libtn;
}

.ruser {
  display: grid !important;
  grid-template-rows: min-content;
  grid-template-columns: auto auto auto 1fr min-content;
  grid-template-areas:
          'lio liuser libtn . lirating lichange'
          '. litags litags litags litags litags';
  a {
    grid-area: liuser;
  }
  i {
    grid-area: lio;
  }
  rating {
    grid-area: lirating;
  }
  good, bad {
    grid-area: lichange;
  }
}
