.lt-list {
  margin-top: 0.25em;
  list-style-type: none;
  user-select: none;
  font-family: lichess, serif;
  font-size: 1.5em;

  ul {
    display: inline-block;
  }

  li {
    display: inline-block;
    margin-right: 0.4em;
    cursor: pointer;
    filter: brightness(90%);

    &:hover {
      filter: brightness(100%);
    }
  }
}

.lt-list-trash {
  display: none;
  color: red;
  width: 1fr;
}

.lt-list-hiddenDragGhost {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

.lt-list-dragHandle {
  cursor: grabbing;
}