.lt-list-wrap {
  margin-top: 0.25em;
  //margin-bottom: 0.3em;
  list-style-type: none;
  user-select: none;
  font-family: lichess, serif;
  font-size: 1.5em;

  li {
    display: inline;
    margin-right: 0.4em;
    cursor: pointer;
    filter: brightness(90%);

    &:hover {
      filter: brightness(100%);
    }
  }

  .lt-list-trash {
    display: inline;
    color: red;
  }
}