@import "../node_modules/bootstrap/scss/bootstrap";
@import "components/TagList/tagList";

.lt-option-navbar {
  min-height: 4rem;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);
}

.lt-options-sidebar {
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);
}

@include media-breakpoint-up(md) {
  .lt-options-sidebar {
    height: calc(100vh - 4rem);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
}

.lt-navbar-icon {
  opacity: .5;
  &:hover {
    opacity: 1;
  }
}

.lt-options-sidebar .nav-link, .lt-sidebar-icon {
  font-weight: 500;
  color: black;
  opacity: 0.65;
  &:hover {
    opacity: 1;
  }
}

.lt-options-sidebar .nav-link.active {
  color: #007bff;
  .lt-sidebar-icon {
    filter: invert(41%) sepia(48%) saturate(7200%) hue-rotate(199deg) brightness(101%) contrast(105%);
  }
}

.lt-navbar-icon {
  width: 1rem;
  height: 1rem;
}

.lt-sidebar-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.lt-brand-icon {
  width: 2rem;
  height: 2rem;
}
