@import "fonts";

// Colors
$selected: #3692e7;

// Constants
$zIndex: 100;


.lt-button-effect {
  background-color: inherit;
  opacity: .75;
  &:hover {
    transform: scale(1.2);
    opacity: 1;
  }
}

.lt-tag {
  span {
    font-family: lichess, serif;
    font-size: 1.6em;
  }
}

.lt-t-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;

  &:focus {
    outline: 1px solid $selected;
    background-color: rgba($selected, 0.2);
  }

  &:hover {
    background-color: $selected;
    border-radius: 3px;
  }
}

