@import "fonts";

// Colors
$c-selected: #3692e7;
$c-red: #c33;

// Constants
$zIndex: 100;
$tagSize: 2rem;

img.lt-tag {
  min-width: $tagSize;
  max-height: $tagSize;
  vertical-align: baseline;
}

span.lt-tag {
  font-size: $tagSize;
}

.lt-tag-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  padding: 0.2rem;

  &:focus {
    outline: 1px solid $c-selected;
    background-color: rgba($c-selected, 0.2);
  }

  &:hover {
    z-index: $zIndex + 1;
    background-color: $c-selected;
    border-radius: 3px;
  }
}
