@font-face {
  font-family: "lichess";
  src: url("/assets/fonts/lichess.woff2") format("woff2");
  font-display: block;
  font-weight: normal;
  font-style: normal;
}

[data-icon]::before {
  display: inline-block;
  font-size: 1.2em;
  vertical-align: middle;
  font-family: "lichess";
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  content: attr(data-icon);
  opacity: 0.9;
}